<?xml version="1.0" encoding="utf-8" ?>
<PictureDomains>
  <!--<Domain Name="img0.tiexue.net" RootDirectory="F:\Teams\FishingIMG\"></Domain>-->
  <!--<Domain Name="img0.tiexue.net\s" RootDirectory="\\192.168.9.155\img0\s\"></Domain>-->
  <!--<Domain Name="img1.tiexue.net\s" RootDirectory="\\192.168.9.155\img1\s\"></Domain>-->
  <!--<Domain Name="img0.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img0\"></Domain>
  <Domain Name="img1.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img1\"></Domain>
  <Domain Name="img2.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img2\"></Domain>
  <Domain Name="img3.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img3\"></Domain>
  <Domain Name="img4.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img4\"></Domain>
  <Domain Name="img5.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img5\"></Domain>
  <Domain Name="img6.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img6\"></Domain>
  <Domain Name="img7.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img7\"></Domain>
  <Domain Name="img8.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img8\"></Domain>
  <Domain Name="img9.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img9\"></Domain>
  <Domain Name="img10.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img10\"></Domain>
  <Domain Name="img11.diaoyu.cn" RootDirectory="F:\Teams\FishingIMG\img11\"></Domain>-->
  <Domain Name="img0.diaoyu.cn" RootDirectory="E:\Teams\FishingIMG\img0\"></Domain>
</PictureDomains>
